extends layout

block content

	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				#user
					img(src= "#{user.fb.picture1}")
					h1.text-center.login-title Welcome #{user.fb.firstName}. 
						p(style='white-space:pre;')
							|I see you are of the #{user.fb.gender} persuasion.
						a(href='/signout', class='text-center new-account') Sign Out
						div.signup-wall

							form(action='/spamfriends',method='post')
								div.input
									span.color Victim's E-mail
									input(type="text", name="E-mail", placeholder='@')
								div.input
									
									span.color Message
									textarea(name="description", cols="20", rows="5")
								div.actions
									input(type="submit", value="Message")
						
						